body{
  margin:0;
  font-family: Arial;
}

.header{
  position: fixed;
  top:0;
  width:100%;
  background:#1f099a;
  color:rgb(71, 84, 227);
  display:grid;
  grid-template-columns:auto 1fr auto;
  align-items:center;
  padding:25px 60px;
}

.logo{
  font-size:36px;
  font-weight:bold;
  letter-spacing:2px;
  color:rgb(71, 84, 227);
}

.nav{
  display:flex;
  justify-self:center;
  gap:20px;
}

.nav a{
  color:rgb(107, 85, 184);
  margin:0 10px;
  text-decoration:none;
}

.hamburger{
  font-size:24px;
  cursor:pointer;
  display:none;
}